################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/BadanieKrwi/v17/.suo
/.vs/BadanieKrwi/FileContentIndex/ec4028ab-5784-49d3-8a25-6cad9b6356ed.vsidx
/.vs/BadanieKrwi/FileContentIndex/e3d83637-3bf6-40e4-a809-f1cbac91ef89.vsidx
/.vs/BadanieKrwi/FileContentIndex/c644f573-73fa-42ca-b932-ec20a1405512.vsidx
/.vs/BadanieKrwi/FileContentIndex
